@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');


.main-container{
    background: #0f0f0f;
    font-family: 'Kumbh Sans', sans-serif;
}

.banner{
    width: 100%;
    height: fit-content;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-heading{
    width: 80%;
    margin: auto;
}

.banner-heading h1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-inline: 0.2em;
    margin-top: 4rem;
    color: white;
    font-size: 2rem;
}

.firstLine{
    color: #fcfcfc;
}

.secondLine{
    background: linear-gradient(to right, #26e3c2, #45a0f5);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-heading p{
    text-align: justify;
    color: #fcfcfc;
    padding-inline-start: 0.3em;
    font-size: 1rem;
}

.banner-buttons{
    margin-top: 1em;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-inline-start: 0.3em;
}

.banner-buttons button{
    padding: 0.5em 1em;
    border: 1px solid #fcfcfc;
    outline: none;
    border-radius: 1em;
    color: #0f0f0f;
    font-size: 0.9rem;
}


#learn-more-button{
    border: 1px solid #fcfcfc;
    background: #0f0f0f;
    color: #fcfcfc;
    margin-left: 1em;
}

.product-quality-container{
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin-block: 3.5rem;
}

.quality-div{
    width: 80%;
    max-width: 200px;
    border: 1px solid #fcfcfc;
    border-radius: 1em;
    margin: 1em;
}

.quality-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 1em;
    background: rgb(131, 130, 130);
    margin: 1em;
}

.quality-icon img{
    width: 60%;
    height: 60%;
}

.quality-description{
    margin-top: 0.5em;
    padding-inline: 1em;
}

.quality-description h2{
    color: #fcfcfc;
    font-size: 1.5rem;
}

.quality-description p{
    color: #fcfcfc;
    font-size: 0.9rem;
    text-align: justify;
}

.pricing-heading-text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fcfcfc;
    margin: auto;
    width: 80%;
}

.pricing-heading-text h2{
    font-size: 1.8rem;
}

.pricing-heading-text p{
    font-size: 1rem;
    text-align: center;
    max-width: 300px;
}

.prices-offer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.offer-div{
    border: 1px solid #fcfcfc;
    border-radius: 1em;
    width: 80%;
    max-width: 250px;
    min-width: 220px;
    margin: 1.2em;
}

.offer-div:hover{
    background: linear-gradient(68deg, #fcfcfc, #45a0f5);
    color: #0f0f0f;
}

.offer{
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   margin: 0.5rem 1rem;
   color: #fcfcfc;
}

.offer p{
    margin-top: -1rem;
}

.offer-div hr{
    width: 90%;
    margin: auto;
    height: 1px;
    background: #fcfcfc;
    border: none;
}

.package-offers{
    margin: 0.2em 1em;
}

.package-text{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fcfcfc;
    font-size: 0.95rem;
}

.text +  .text{
    margin-top: -1.2em;
}

.tick{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.4em;

}

.package-price{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fcfcfc;
}

.package-price h2{
    font-weight: bold;
    font-size: 1.8rem;
}

.package-price p{
    font-size: 0.95rem;
    margin-left: 0.5rem;
}

.purchase-button{
    margin-bottom: 1em;
}

.purchase-button button{
    font-size: 0.95rem;
    color: #0f0f0f;
    background: #fcfcfc;
    border: 1px solid #fcfcfc;
    outline: none;
    border-radius: 1em;
    padding: 0.5em 3em;
}